@inject NotificationService NFService
@using TXSTBXRD_UI.Utils.Types
@implements IDisposable


<div class="nf-container @(_isVisible ? "nf-visible" : null) @_backgroundCssClass">
    <div class="nf-main-icon">
        <i class="@_iconCssClass" aria-hidden="true"></i>
    </div>
    <div class="nf-content">
        <div class="nf-title-container">
            <h5 class="nf-title">@_heading</h5>
            <div class="nf-control-btn">
                @if (@_reload)
                {
                    <i class="reload-icon control-btn" aria-hidden="true" onclick="location.reload()"></i>
                }
                @if (@_close)
                {
                    <i class="close-icon control-btn" aria-hidden="true" @onclick="HideToast"></i>
                }
            </div>
        </div>
        <div class="nf-text">@_message</div>
    </div>
</div>




@code {
    private string? _heading;
    private string? _message;
    private string? _backgroundCssClass;
    private string? _iconCssClass;
    private bool _close;
    private bool _reload;
    private bool _isVisible;

    protected override void OnInitialized()
    {
        NFService.OnShow += ShowToast;
        NFService.OnHide += HideToast;
    }

    private void ShowToast(string message, NotificationLevel level, bool reload, bool close)
    {
        BuildToastSettings(level, message, reload, close);
        _isVisible = true;
        StateHasChanged();
    }

    private void HideToast()
    {
        _isVisible = false;
        StateHasChanged();
    }

    private void BuildToastSettings(NotificationLevel level, string message, bool reload, bool close)
    {
        _reload = reload;
        _close = close;
        switch (level)
        {
            case NotificationLevel.Info:
                _backgroundCssClass = $"nf-bg-info";
                _iconCssClass = $"info-icon";
                _heading = "Info";
                break;
            case NotificationLevel.Success:
                _backgroundCssClass = $"nf-bg-success";
                _iconCssClass = $"success-icon";
                _heading = "Success";
                break;
            case NotificationLevel.Warning:
                _backgroundCssClass = $"nf-bg-warning";
                _iconCssClass = $"warning-icon";
                _heading = "Warning";
                break;
            case NotificationLevel.Error:
                _backgroundCssClass = $"nf-bg-error";
                _iconCssClass = $"error-icon";
                _heading = "Error";
                break;
            default:
                throw new ArgumentOutOfRangeException(nameof(level), level, null);
        }

        _message = message;
    }

    void IDisposable.Dispose()
    {
        NFService.OnShow -= ShowToast;
        NFService.OnHide -= HideToast;
    }
}